@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background-color: #424F63;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

h1 {
  @apply text-cyan-950 text-4xl font-bold mb-4 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)];
}

h2 {
  @apply border-red-700  text-lg font-bold;
}

.textInput {
  @apply rounded-lg border-2 border-cyan-950;
}

.submitButton {
  @apply border-2 border-cyan-950 bg-sky-100 px-2 rounded-lg text-center disabled:bg-gray-300; /*border-emerald-900*/
}

.font-outline-1 {
  -webkit-text-stroke: 1px black;
}


.statBox {
  background: none;
  
  font-size: 20px;
  font-weight: bold;
  color: #ededed;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 50px;

  @apply border-emerald-900;
}

.subBox {
  @apply border-2 border-cyan-950 rounded-lg text-center
}

.close {
  color: #fff;
  background-color: #DC143C;
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #333;
  width: 25px;
  height: 25px;
  
}

.close:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}



.borderBox {
   @apply bg-slate-400  rounded-lg p-4; /*border-2 border-emerald-900 */
}
