@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background-color: #424F63;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

h1 {
  @apply text-emerald-900 text-4xl font-bold mb-4 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)];
}

input {
  @apply rounded-lg border-2 border-emerald-900;
}

.submitButton {
  @apply border-2 border-emerald-900 bg-green-50 px-2 rounded-lg text-center disabled:bg-gray-300;
}


.statBox {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.borderBox {
  @apply bg-slate-400 border-2 border-emerald-900 rounded-lg p-4;
}
